<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiNiMo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../public/asset/scss/reset.css" />
    <link rel="stylesheet" href="../../public/asset/scss/style.css" />
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                <ul class="header__list--group">
                    <li class="header__logo"><a href="">MINIMO</a></li>
                </ul>
                <ul class="header__list--group">
                    <li class="header__list--items">
                        <a href="" class="header__link">LIFESTYLE</a>
                    </li>
                    <li class="header__list--items">
                        <a href="" class="header__link">PHOTODIARY</a>
                    </li>
                    <li class="header__list--items">
                        <a href="" class="header__link">MUSIC</a>
                    </li>
                    <li class="header__list--items">
                        <a href="" class="header__link">TRAVEL</a>
                    </li>
                </ul>
            </div>
            <div class="banner">
                <img src="../../public/asset/imgs/banner.png" alt="" class="banner__img" />
            </div>
            <section class="sec1">
                <div class="text">
                    <div class="text__category">PHOTODIARY</div>
                    <div class="text__title">
                        <h3>The perfect weekend getaway</h3>
                    </div>
                    <div class="text__para">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Blanditiis perferendis placeat cum corrupti impedit, vel quod
                            tempora itaque fuga tempore facere accusantium in asperiores,
                            pariatur aliquid! Esse odit dolorem repellendus!.Excepteur Minus
                            eligendi totam eaque non ex doloremque porro labore reiciendis
                            tempore? Dolorem ab quos dignissimos. Quia dolorem adipisci
                            numquam ex ut magnam? Cumque recusandae repellendus nam, maiores
                            incidunt ex atque obcaecati tempore quod distinctio. Eos libero
                            inventore at accusantium aut culpa nesciunt alias beatae. Omnis
                            eius, a nihil odio aut itaque? Consequuntur animi sequi cum. Ea
                            harum iure a porro cupiditate aperiam ipsam sed adipisci
                            laudantium! Aliquam faucibus purus in massa. Lectus magna
                            fringilla urna porttitor rhoncus dolor purus non enim. Id
                            aliquet lectus proin nibh nisl condimentum id. Lacus suspendisse
                            faucibus interdum posuere lorem ipsum dolor sit. Arcu dictum
                            varius duis at consectetur lorem donec massa sapien. Sem et
                            tortor consequat id porta nibh venenatis cras sed. Urna nunc id
                            cursus metus aliquam eleifend. Tortor condimentum lacinia quis
                            vel eros.
                        </p>
                    </div>
                    <div class="text__category">leave a comment</div>
                </div>
            </section>
            <section class="sec2">

            </section>
        </div>
    </div>
</body>

</html>