*,
*::before,
*:active {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Playfair Display', serif;
  background-color: #fff;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

a, a::after, a::before, a:hover, a:active {
  text-decoration: none;
  color: #1d1c1c;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid black;
}

::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #333;
  opacity: 1;
}

::placeholder {
  color: #333;
  opacity: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 1000px;
}

.container {
  max-width: 1064px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list--group {
  list-style: none;
  padding-left: 0;
}

.header__list--items {
  position: relative;
  display: inline;
  color: #1d1c1c;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.header__link {
  margin: 0 120px;
  font-size: 1rem;
  color: #999;
}

.header__link:last-child {
  margin-right: 0px;
}

.banner {
  width: 100%;
  margin-bottom: 70px;
}

.banner__img {
  width: 100%;
  height: 100%;
}

.sec1, .sec2 {
  max-width: 900px;
  min-height: 340px;
  margin: 0 auto;
}

.text__category {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
  padding: 15px 0;
}

.text__title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 15px 0;
  color: #333;
}

.text__para {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  text-align: justify;
  padding: 30px 0;
}

.sec2 {
  max-width: 942px;
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 430px;
  height: 550px;
  margin: 70px auto 0 auto;
}

.card__img {
  width: 100%;
  height: 325px;
}

.newsletter {
  width: 100%;
  margin: 78px auto;
  padding: calc(300px/4);
  background-color: #eeeeee;
}

.newsletter__sign {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

#email {
  background-color: #eeeeee;
  font-size: 1.3rem;
  font-weight: 400;
  outline: none;
  margin-top: 100px;
  padding: 0 8rem 0 0;
  -webkit-transition: width 1.2s ease-in-out 0.2s;
  transition: width 1.2s ease-in-out 0.2s;
}

#email:focus {
  background-color: #eeeeee;
  width: 600px;
}

.btn__sub {
  background-color: #eeeeee;
  outline: none;
  border: none;
}

#paper {
  width: 30px;
}

#paper:hover {
  width: 40px;
  -webkit-transition: width 0.2s ease-in-out 0.2s;
  transition: width 0.2s ease-in-out 0.2s;
  cursor: pointer;
}

.loadmore {
  text-align: center;
}

.loadmore__btn {
  padding: 15px;
  background-color: #fff;
  font-size: 1.2rem;
  border: #666 solid 1px;
  color: #999;
}

.loadmore__btn:hover {
  background-color: #ebeaea;
  color: #333;
  border: #666 double 1px;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

#icon--fl {
  width: 15px;
}

.footer {
  width: 100%;
  margin-top: 300px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ebebeb;
}

.footer__list--group {
  list-style: none;
  padding-left: 0;
}

.footer__list--group:first-child {
  float: left;
  margin: 45px 130px;
}

.footer__list--group:last-child {
  float: right;
  margin: 45px 136px;
}

.footer__list--items {
  position: relative;
  display: inline-block;
  color: #1d1c1c;
}

.footer__link {
  margin: 0 10px;
  font-size: 1rem;
  color: black;
}

.img__post {
  padding: 50px 0;
}

.cmti {
  border: #ececec solid 0.5px;
  margin: 50px;
  font-weight: 300;
  font-style: italic;
  color: #333;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
}

.post__para {
  color: #333;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5;
  font-size: 1.2rem;
}

.share {
  width: 100%;
  height: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 80px;
}

.share a {
  padding: 0 10px;
  color: #999;
}

.like {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 275px;
  min-height: 185px;
  margin: 15px;
}

.post__img {
  width: 100%;
  height: 185px;
}

.post__title {
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.comment {
  width: 900px;
  min-height: 600px;
  margin: 0 auto;
}

.comment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px 0;
}

.comment img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.comment__para {
  line-height: 1.2;
  font-size: 1rem;
  margin: auto 0;
  padding: 0 50px;
  text-align: justify;
}

.comment__para h3 {
  font-weight: 600;
}

.reply {
  font-size: 2rem;
  width: 170%;
  outline: none;
  color: #999;
}

.reply:focus {
  color: #999;
  font-size: 2.3rem;
}
/*# sourceMappingURL=style.css.map */